version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: sports_booking_postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sports_booking
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
